@model IEnumerable<WebApplication.Models.ScheduleInstance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ScheduleInstances - Browse</h1>

<p>
    <a class="btn-sm btn-dark details" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleMaster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledDateUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledDateTimeOffset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveYn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleMaster.ScheduleCronExpression)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledDateUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledDateTimeOffset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveYn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleInstanceId" class="btn-sm btn-dark details">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleInstanceId" class="btn-sm btn-info details">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleInstanceId" class="btn-sm btn-danger details">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
