@using Humanizer;
@model WebApplication.Models.TaskMaster

@{
    ViewData["Title"] = "Details - " + "TaskMaster".Humanize(LetterCasing.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4> @("TaskMaster".Humanize(LetterCasing.Title))</h4>
    <hr />
    <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TaskType)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TaskType.TaskTypeName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TaskGroup)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TaskGroup.TaskGroupName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ScheduleMaster)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ScheduleMaster.ScheduleCronExpression)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SourceSystem)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SourceSystem.SystemAuthType)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TargetSystem)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TargetSystem.SystemAuthType)
            </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.TaskMasterName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.TaskMasterName)
                </dd>               
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.DegreeOfCopyParallelism)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.DegreeOfCopyParallelism)
                </dd>               
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.AllowMultipleActiveInstances)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.AllowMultipleActiveInstances)
                </dd>               
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.TaskDatafactoryIr)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.TaskDatafactoryIr)
                </dd>               
             <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TaskMasterJson)
            </dt>
            <dd class = "col-sm-10 jsonpretty">
                <a class="jsonraw">@Html.DisplayFor(model => model.TaskMasterJson)</a>
                <div class="jsonformatted"></div>
            </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ActiveYn)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.ActiveYn)
                </dd>               
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.DependencyChainTag)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.DependencyChainTag)
                </dd>               
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.DataFactoryId)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.DataFactoryId)
                </dd>               
    </dl>
</div>
<div>
    <a href="javascript:history.go(-1)" title="Back to List" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Back</a>
    <a asp-action="Edit" asp-route-id="@Model.TaskMasterId" class="btn btn-warning details" title="Edit"><i class="fa fa-pencil-square-o"></i> Edit</a> 
</div>
@section Scripts
{
    <script type="text/javascript">
		$(document).ready(function ()
        {
            $(".jsonpretty").each(function (index) {
                $(".jsonformatted", this).JSONView($(".jsonraw", this)[0].innerText);
                $(".jsonraw", this)[0].innerText = null;
            });

		});
    </script>
}   
