@using Humanizer;
@model WebApplication.Models.TaskGroup

@{
    ViewData["Title"] = "Details - " + "TaskGroup".Humanize(LetterCasing.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4> @("TaskGroup".Humanize(LetterCasing.Title))</h4>
    <hr />
    <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SubjectArea)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SubjectArea.SubjectAreaName)
            </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.TaskGroupName)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.TaskGroupName)
                </dd>               
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.TaskGroupPriority)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.TaskGroupPriority)
                </dd>               
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.TaskGroupConcurrency)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.TaskGroupConcurrency)
                </dd>               
             <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TaskGroupJson)
            </dt>
            <dd class = "col-sm-10 jsonpretty">
                <a class="jsonraw">@Html.DisplayFor(model => model.TaskGroupJson)</a>
                <div class="jsonformatted"></div>
            </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ActiveYn)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.ActiveYn)
                </dd>               
    </dl>
</div>
<div>
    <a href="javascript:history.go(-1)" title="Back to List" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Back</a>
    <a asp-action="Edit" asp-route-id="@Model.TaskGroupId" class="btn btn-warning details" title="Edit"><i class="fa fa-pencil-square-o"></i> Edit</a> 
</div>
@section Scripts
{
    <script type="text/javascript">
		$(document).ready(function ()
        {
            $(".jsonpretty").each(function (index) {
                $(".jsonformatted", this).JSONView($(".jsonraw", this)[0].innerText);
                $(".jsonraw", this)[0].innerText = null;
            });

		});
    </script>
}   
