@using Humanizer; 
@model WebApplication.Models.TaskMasterWaterMark

@{
        ViewData["Title"] = "Delete - " + "TaskMasterWaterMark".Humanize(LetterCasing.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this !!!!!?</h3>
<div>
    <h4> @("TaskMasterWaterMark".Humanize(LetterCasing.Title))</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskMaster.TaskDatafactoryIr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskMasterWaterMarkColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskMasterWaterMarkColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskMasterWaterMarkColumnType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskMasterWaterMarkColumnType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskMasterWaterMarkDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskMasterWaterMarkDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskMasterWaterMarkBigInt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskMasterWaterMarkBigInt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskWaterMarkJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskWaterMarkJson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveYn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveYn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TaskMasterId" />
        <a href="javascript:history.go(-1)" title="Back to List" class="btn btn-secondary" ><i class="fa fa-arrow-circle-left"></i> Back</a>
        <input type="submit" value="Delete" class="btn btn-danger"/>  
    </form>
</div>
