@using Humanizer; 
@model WebApplication.Models.TaskInstance

@{
        ViewData["Title"] = "Delete - " + "TaskInstance".Humanize(LetterCasing.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this !!!!!?</h3>
<div>
    <h4> @("TaskInstance".Humanize(LetterCasing.Title))</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastExecutionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastExecutionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskMaster.TaskDatafactoryIr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleInstance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduleInstance.ScheduleInstanceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExecutionUid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExecutionUid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adfpipeline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adfpipeline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskInstanceJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskInstanceJson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastExecutionComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastExecutionComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRetries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRetries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveYn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveYn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskRunnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskRunnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TaskInstanceId" />
        <a href="javascript:history.go(-1)" title="Back to List" class="btn btn-secondary" ><i class="fa fa-arrow-circle-left"></i> Back</a>
        <input type="submit" value="Delete" class="btn btn-danger"/>  
    </form>
</div>
